<table class="table table-striped">
	<tbody>
		<% @visitors.each do |x| %>
		<tr>
			<td>
				<% unless x.name == nil %>
				  <li><%= x.name %></li>
		    <% end %>
		    <li><%= x.email%></li>
		    <% unless x.interest == nil %>
			    <li><%= x.interest%></li>
		    <% end %>
		    <% unless x.city == nil %>
			    <li><%= x.city %></li>
		    <% end %>
			</td>
		<% end %>
	</tr>
	</tbody>
</table>