<table class="table table-striped">
	<tbody>
		<% @users.each do |x| %>
		<tr>
			<td>

		    <li><%= x.email%></li>
        <% unless x.content == nil %>
    	    <li><%= simple_format(x.content) %></li>
        <% end %>
			</td>
		<% end %>
	</tr>
	</tbody>
</table>