<% content_for :title do %>Austin<% end %>
<h4>Learning in Austin</h4>
<p>You can express interest in one or several listed courses, and then it's up to the teacher to contact you and get you enrolled.</p>