<% content_for :title do %>Scholarships<% end %>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-xs-12">
<h3 class="hidden-xs">Scholarships Currently Offered</h3>
<h4 class="hidden-sm hidden-md hidden-lg">Scholarships Currently Offered</h4>

<p>Click on a scholarship to view its details.  You can express interest in one or several of these scholarships. </p>
</div>
<br>


<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-xs-12">
	<table class="table table-striped">
		<tbody>


				<tr>
					<td>

				    <li class="hidden-xs"><h5><%= link_to "Opportunities for all New Yorkers", nyscholars_path %></li>
				    <li class="hidden-sm hidden-md hidden-lg"><h5><%= link_to "Opportunities for all New Yorkers", nyscholars_path %></li>

					</td>
				</tr>
				<tr>
						<td>

					    <li class="hidden-xs"><h5><%= link_to "Chicago Youth Project, Improving the Community Through Tech" %></li>
					    <li class="hidden-sm hidden-md hidden-lg"><h5><%= link_to "Chicago Youth Project, Improving the Community Through Tech" %></li>

						</td>

				
				</tr>


		</tbody>
	</table>
</div>