/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hero-spacer {
	margin-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;

}

 .hello {

   background-color: white;
   padding-bottom: 14px;
   padding-left: 30px;
   padding-right: 30px;

   margin-bottom: 5px;
   border: 7px solid #D8F2D5;
   border-bottom: 0px;
   border-top: 0px;
   border-right: 12px solid white;
 }

 .normalbox {

 	background-color: white;
 	padding-bottom: 14px;
 	padding-left: 30px;
 	padding-right: 30px;

 	margin-bottom: 5px;
   border: 7px solid #E4EEFF;
   border-bottom: 0px;
   border-top: 0px;
   border-right: 12px solid white;


 }

 #helloback {
   background-color: #D8F2D5;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 10px;
   padding-left: 10px;
 }

 #normalback {
   background-color: #E4EEFF;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 10px;
   padding-left: 10px;
 }


 .innercontainer {
   margin-left: 5px;
 }

 #homehr {
   height: 3px;
   background: #555861;
 }

 footer {
   clear: both;
   height: 200px;

 }

 .pagebottom {
   background-color: #F8F8FA;
 }

 p {
   color: #555861;
 }

 coursedes {
   margin-left: 20px;

 }

 .navbar-inverse {
   margin: 0px;
   background-color: #555861;
   border: 5px solid white;


 }

 .navbar-collapse {
   background-color: #D3E2E8;
 }

 .office {
    height: 300px;

 }

 #largerheader {
   height: 250px;
 }


 section {
   margin-top: 0px;
 }

 main {
   padding: 20px;
   padding-top: 0px;
   padding-bottom: 0px;
   background-color: white;
   margin: 0px;
 }

.ourbuttons {
	clear: both;
}

label.collection_radio_buttons {
   padding-left: 5px;
   padding-right: 8px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #05AFF2;
   margin-right: 3px;
}

p.home { text-indent: 16px; }

#coursep { text-indent: 3px; }

.radiobuttons {
   height: 25px;
}

.navbar-inverse .navbar-brand {
	color: #05AFF2;
   margin-right: 3px;
}

.greeting {
	padding: 20px;
}

.text-center {
	margin: 0px;
}

h2 {
  color: #555861
}

h3 {
  color: #555861

}

h4 {
  color: #555861;
  line-height: 2.0;

}

h5 {
  color: #555861;
  line-height: 2.0;

}

#citylist {
   margin-top: 10px;
}

.citylist {
   padding-left: 0px;
   padding-right: 0px;
}

li {
   list-style-type: none;
}

#scholars {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
